<!DOCTYPE html>
<html>
<head>
    <title>Passport</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style>
        body{
            padding-top: 70px;
            padding-bottom: 70px;
        }
    </style>

</head>
<body>
<% if(!isAuthenticated){ %>
<center>
    <h1>Welcome to Web Chat 359-340</h1>
    <br>
<a href = "/login">Login Here!</a>
<br>
<a href = "/register">Register Here!</a>
    </center>>
<% } else { %>
<div class = "col-xs-4 ">
    <h5>Hello <%=user.name%> </h5>
    <a class="btn btn-success" href="/logout">Log out</a><br><br><be></be>
    <a class="btn btn-lg btn-primary btn-block" href="/friend">Add new friend</a>
    <a class="btn btn-lg btn-primary btn-block" href="/mail">write new mail</a>
</div>
<% } %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>